@tailwind base;
@tailwind components;
@tailwind utilities;

 /* Hide the scrollbar */
 .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  /* Enable smooth scrolling */
  .smooth-scroll {
    scroll-behavior: smooth;
  }